@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: rgba(181, 181, 181, 0.857);

}
body::-webkit-scrollbar {
    width: 0;
    scroll-behavior: smooth;
    height: 0;
}
.about{
    width: auto;
    padding: 0 10%;
}
.name{
    color: #27a102;
}
.nav {
    position: absolute;
    right: 3%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.navList{
    list-style-type: none;
    padding: 0;
    height: 30%;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    
}

.navIcon{
    background-color: #1c6000;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out;

    
}
.navIcon:hover{
    background-color: #218502;
    transform: scale(110%);
    transition: .1s ease-in-out;
    box-shadow: #1c6000 0px 3px 15px;

}
.navIcon img{
    width: 25px;
    opacity: .75;
    /* color: aliceblue; */
}

@media only screen and (max-width: 600px) {
    .about{
        padding-top: 10%;
    }
    .nav{
        width: 100vw;
        position: fixed;
        left: 0;
        background-color: #1928199c;
        top: 0;
        height: 13%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navList{
        height: auto;
        flex-direction: row;
        width: 60%;
    }


}